
#button:focus, #button:active {
  outline:0 !important;  
}

#winner_number{
  margin:10px;
}

#loader{
    display:none;
}

#winner {
    font-size:90px !important;
    font-family: calibri;
    font-style: italic;
    color:white;
    text-shadow:1px 1px 3px #2B0C0A;
    line-height: 100%;
}

#winner-name {
    color:#E74E0E;
    text-shadow:1px 1px 3px black;
}

.font-class{
    font-size:50px;
    color:black;
}

@font-face {
  font-family: "MotionPicture";
  src: url(../fonts/MotionPicture_PersonalUseOnly.ttf) format("truetype");
}

@font-face {
  font-family: "Vertigo";
  src: url(../fonts/VertigoFLF.ttf) format("truetype");
}

@font-face {
  font-family: "AvantageSmall";
  src: url(../fonts/AvantageSmall.ttf) format("truetype");
}

@font-face {
  font-family: "Alex Brush";
  src: url(../fonts/AlexBrush-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Bahamas";
  src: url(../fonts/Bahamas.ttf) format("truetype");
}

@font-face {
  font-family: "Milasian Thin";
  src: url(../fonts/MilasianThinPERSONAL.ttf) format("truetype");
}
