<!DOCTYPE html>
<html lang="en" ng-app="schweppes">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/logo-nav.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/style2.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.1/TweenMax.min.js"></script>
    <script src="../js/TweenLite.min.js"></script>
    <script src="../js/EasePack.min.js"></script>
    <script src="../js/TimelineLite.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>    
    <script src="../js/drawprocess.js"></script>
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background:#FCD347;padding-top: 10px;">


<div style="height:100%;" class="container" ng-controller="controller">
    <div class="row">

        <div class="market-updates">
			<div class="col-md-4 market-update-gd">
				<div class="market-update-block clr-block-1">
					<div class="col-md-12 market-update-left text-center">
						<h3>{{ $prize }}</h3>
					</div>
					
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-4 market-update-gd">
				<div class="market-update-block clr-block-2">
				 <div class="col-md-12 market-update-left text-center">
                    <h3>{{ $winners_left }} winners left</h3>
				  </div>
					
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-4 market-update-gd">
				<div class="market-update-block clr-block-3">
					<div class="col-md-12 market-update-left text-center">
						<h3>{{ $date }}</h3>
					</div>
					
				  <div class="clearfix"> </div>
				</div>
			</div>
		   <div class="clearfix"> </div>
		</div>
        
    </div>
    <!-- Page Content -->
   
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <img style="margin:50px;" src="../images/Mazoe-Promotion-Slider-23.png">
                
                    <button ng-click="draw()" id="button" style="margin:10px;"
                    class="btn btn-danger btn-xlg btn-round" type="submit" name="submit">
                        <h3>Begin Draw</h3>
                    </button>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div id="pl_spinner" style="padding-top:20px;">
                <div class="">
                    <!--<object type="image/svg+xml" data="../images/Wheel.svg" width="400px" id="spinner">
                        SHUFFLING !!!!!!!!
                    </object>-->
                    <img src="../images/spinner.png" width="400px" id="spinner">
                </div>
            </div>
            <h1 id="winner_number"></h1>
        </div>
    </div>
    
   <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Winners</h4>
        </div>
        <div class="modal-body">
          <p ng-repeat="(key, winner) in $winners">{{winner}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

    <!-- /.container -->
</div>

<!-- jQuery -->
<script src="../js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

</body>

</html>
